:root {
  --bg-grad: linear-gradient(rgba(104,29,116,0.2), rgba(104,29,116,0.1))
}

@font-face {
  font-family: "header";
  src: url("./assets/fonts/Seasons-bold.woff") format("woff")
}
@font-face {
  font-family: "etna";
  src: url("./assets/fonts/Etna.woff") format("woff")
}

.svg-1 {
  width: 20px;
  height: 20px;
}
.svg-2 {
  width: 30px;
  height: 30px;
}
.header-font {
  font-family: "header", Times New Roman;
  font-size: 3rem;
}
.product-font {
  font-family: "etna", Sans-Serif;
}

body {
  background: var(--bg-grad), url('./assets/bg.jpg');
  background-position: center;
}
hr {
  opacity: 1 !important;
}
.banner img {
  height: 30vh;
}
.products {
  background-image: radial-gradient(rgba(0,0,0,0.4),rgba(45,16,86,0.6));
}
.products .card {
  width: 45%;
}
@media (max-width: 600px) {
  .products .card {
    width: 200px;
    
  }
}
@media (min-width: 998px) {
  .products .card {
    width: 23%;
  }
}

.products .card-img-top {
  height: 100px;
}
.card-img-top svg {
  width: 100%;
  height: 100px;
}
.products .card-title {
  font-family: Bricolage Grotesque;
}
